<div class="about-container mt-5">
  <div class="container">
    <section id="about">
      <div class="about-cards">
        <div class="about-content mt-3 px-2">
          <div class="about-header">
            <p>ПРО НАС</p>
          </div>
          <div class="about-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat </p>
          </div>
        </div>
        <div class="about-image">
          <img src="./assets/images/team_1.png"  alt="Team">
        </div>
      </div>
    </div>
  </div>
  <div class="counter-container pb-4 px-2">
    <div class="d-flex justify-content-around ">
      <div>
        <div class="counter" data-target="36" class="count">0</div>
        <p>кліентів</p>
      </div>
      <div>
        <div class="counter" data-target="120" class="count">0</h3>
      </div>
      <p>проектів виконано</p>
    </div>
    <div>
      <div class="counter" data-target="12" class="count">0</h3>
    </div>
    <p>експертів</p>
  </div>
</div>
</div>
</section>
