<section id="contact">
  <div class="container mt-3">
    <div class="services-header">
      <p>КОНТАКТИ</p>
    </div>
    <section class="container text-light mt-5 rounded text-center">
      <div class="row justify-content-center">
        <form action="https://send.pageclip.co/jsMZ4fn3ALnjsFmQJxtk1R36qmX1mSXc" method="POST" class="contact-form rounded">
          <input type="text" class="form-control mb-2 " name="name" placeholder="Ваше імʼя" required>
          <input type="email" class="form-control mb-2" name="email" placeholder="Ваша електронна пошта" required>
          <input type="phone" class="form-control mb-2" name="phone" placeholder="Ваш телефон" required>
          <textarea class="form-control mb-4" name="message" placeholder="Повідомлення" rows="3" required></textarea>
          <input class="btn btn-dark btn-block " type="submit" value="Надіслати">
        </form>
      </div>
    </section>
  </div>
</section>
