<div class="navbar fixed-top">
  <div class="navbar-logo">
    <i class="fas fa-home"></i>
    <p>Будівельні послуги<br>
      в Харкові та області</p>
  </div>
  <ul class="navbar-tabs">
    <li>
      <a class="navbar-tabs-item" href="#main">ГОЛОВНА</a>
    </li>
    <li>
      <a class="navbar-tabs-item" href="#services">ПОСЛУГИ</a>
    </li>
    <li>
      <a class="navbar-tabs-item" href="#about">ПРО НАС</a>
    </li>
    <li>
      <a class="navbar-tabs-item" href="#projects">ПРОЕКТИ</a>
    </li>
    <li>
      <a class="navbar-tabs-item" href="#contact">КОНТАКТИ</a>
    </li>
  </ul>
</div>
