<div class="navbar fixed-top">
      <div class="navbar-logo">
        <i class="fas fa-home"></i>
        <p>Строительные услуги<br>в Харькове и области</p>
      </div>
      <ul class="navbar-tabs">
         <li>
         <a class="navbar-tabs-item" href="#main">ГЛАВНАЯ</a>
         </li>
         <li>
         <a class="navbar-tabs-item" href="#services">УСЛУГИ</a>
         </li>
         <li>
         <a class="navbar-tabs-item" href="#about">О НАС</a>
         </li>
         <li>
           <a class="navbar-tabs-item" href="#projects">ПРОЕКТЫ</a>
          </li>
         <li>
         <a class="navbar-tabs-item" href="#contact">КОНТАКТЫ</a>
         </li>
    </ul>
</div>