<section id="projects">

<div class="container mt-3">  
  <div class="services-header">
    <p>ПРОЕКТЫ</p>
  </div>
  <div class="my-slider">
    <div class="slider-item">
      <img src="./assets/images/house.jpeg" />
    </div>
    <div class="slider-item">
      <img src="./assets/images/foundation.jpeg" />
    </div>
    <div class="slider-item">
      <img src="./assets/images/house.jpeg" />
    </div>
    <div class="slider-item">
      <img src="./assets/images/foundation.jpeg" />
    </div>
    <div class="slider-item">
      <img src="./assets/images/foundation.jpeg" />
    </div>
    <div class="slider-item">
      <img src="./assets/images/foundation.jpeg" />
    </div>
  </div>
</div>
</section>