<section id="services">  
  <div class="container mt-3">

     
    <div class="services-header">
      <p>УСЛУГИ</p>
    </div>

  <div class="cards">
    <div class="card-service my-3">
    <img src="./assets/images/foundation.jpeg" />
      <div class="card-service-infos">
        <div>
          <h2>Фундаменты любой сложности</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
    </div>
  
    <div class="card-service my-3">
      <img src="./assets/images/foundation.jpeg" />
        <div class="card-service-infos">
          <div>
            <h2>Геодезия участков</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
  
      <div class="card-service my-3">
        <img src="./assets/images/foundation.jpeg" />
          <div class="card-service-infos">
            <div>
              <h2>Кладка кирпича любой сложности</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
          </div>
        </div>

        <div class="card-service my-3">
          <img src="./assets/images/foundation.jpeg" />
            <div class="card-service-infos">
              <div>
                <h2>Кладка блоков любой сложности</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
          </div>

          <div class="card-service my-3">
            <img src="./assets/images/foundation.jpeg" />
              <div class="card-service-infos">
                <div>
                  <h2>Кладка бутов любой сложности</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
              </div>
            </div>

            <div class="card-service my-3">
              <img src="./assets/images/foundation.jpeg" />
                <div class="card-service-infos">
                  <div>
                    <h2>Кровельные работы</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  </div>
                </div>
              </div>

              <div class="card-service my-3">
                <img src="./assets/images/foundation.jpeg" />
                  <div class="card-service-infos">
                    <div>
                      <h2>Постройка дома с ноля</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                  </div>
                </div>

                <div class="card-service my-3">
                  <img src="./assets/images/foundation.jpeg" />
                    <div class="card-service-infos">
                      <div>
                        <h2>Постройка зернохранилищ</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                      </div>
                    </div>
                  </div>

                
                  <div class="card-service my-3">
                    <img src="./assets/images/foundation.jpeg" />
                      <div class="card-service-infos">
                        <div>
                          <h2>Услуги плиточника</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                      </div>
                    </div>

</div>

</div>
</section>
