<section id="services">
  <div class="container mt-3">
    <div class="services-header">
      <p>ПОСЛУГИ</p>
    </div>
    <div class="cards">
      <div class="card-service my-3">
        <img src="./assets/images/foundation.jpeg" />
        <div class="card-service-infos">
          <div>
            <h2>Фундаменти будь-якої складності</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
      <div class="card-service my-3">
        <img src="./assets/images/foundation.jpeg" />
        <div class="card-service-infos">
          <div>
            <h2>Геодезія ділянок</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
      <div class="card-service my-3">
        <img src="./assets/images/foundation.jpeg" />
        <div class="card-service-infos">
          <div>
            <h2>Кладка цегли будь-якої складності</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
      <div class="card-service my-3">
        <img src="./assets/images/foundation.jpeg" />
        <div class="card-service-infos">
          <div>
            <h2>Кладка блоків будь-якої складності</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
      <div class="card-service my-3">
        <img src="./assets/images/foundation.jpeg" />
        <div class="card-service-infos">
          <div>
            <h2>Кладка бутів будь-якої складності</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
      <div class="card-service my-3">
        <img src="./assets/images/foundation.jpeg" />
        <div class="card-service-infos">
          <div>
            <h2>Покрівельні роботи</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
      <div class="card-service my-3">
        <img src="./assets/images/foundation.jpeg" />
        <div class="card-service-infos">
          <div>
            <h2>Будівництво будинку з нуля</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
      <<<<<<< HEAD
      <div class="card-service my-3">
        <img src="./assets/images/foundation.jpeg" />
        <div class="card-service-infos">
          <div>
            <h2>Будівництво зерносховищ</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
      <div class="card-service my-3">
        <img src="./assets/images/foundation.jpeg" />
        <div class="card-service-infos">
          <div>
            <h2>Послуги плиточника</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
