<div class="container">
    <video playsinline autoplay muted loop id="video">
    <source src="./assets/images/video.mp4" type="video/mp4">
    </video>

    <section id="main">

    <header class="viewport-header">
    <p>
        СТРОИТЕЛЬНЫЕ УСЛУГИ
        <span>В ХАРЬКОВЕ И ОБЛАСТИ</span><br>
        <span><i class="fas fa-chevron-down"></i></span>
    </p>
    </header>
    </section>

</div>