.counter-container {
  background-color: #edcd1e;
  color: white;
  height: 150px;

  p {
    font-size: 1.5rem;
  }
}

.counter {
  text-align: center;
  padding-top: 25px;
  font-size: 2.5rem;
  font-weight: 800;
}
