.navbar {
  position: fixed;
  display: flex;
  background-color: #1e2d3b;
  top: 0;
  left: 0;
  color: white;
  padding-right: 18px;
  padding-left: 18px;

  height: 64px;
  width: 100%;
  transition: all 0.25s;
}

.navbar-logo {
  display: flex;
}

.fa-home {
  color: #edcd1e;
  font-size: 30px;
  margin-right: 10px;
  margin-top: 10px;
}

.navbar-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  list-style: none;
}

.navbar-tabs-item {
  transition: all 0.2s;
  transition-delay: 0s;
  color: white;

  :hover {
    text-decoration: none;
  }
}

.active {
  color: #edcd1e;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #edcd1e;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .navbar {
    height: 400px;
    position: relative;
    display: block;
  }

  .navbar-logo {
    display: block;
    font-size: 30px;
    text-align: center;
    margin: 50px;
  }

  .fa-home {
    font-size: 50px;
  }

  .navbar-tabs {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .navbar-tabs {
    font-size: 11px;
    width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-tabs {
    font-size: 12px;
  }
}
