.navbar {
  position: fixed;
  display: flex;
  background-color: #1e2d3b;
  top: 0;
  left: 0;
  color: white;
  padding-right: 16px;
  padding-left: 16px;

  height: 64px;
  width: 100%;
  transition: all 0.25s;
}

.fa-home {
  color: #edcd1e;
  font-size: 30px;
  margin-right: 10px;
  margin-top: 10px;
}

.navbar-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  list-style: none;
}

.navbar-tabs-item {
  transition: all 0.2s;
  transition-delay: 0s;
  color: white;

  :hover {
    text-decoration: none;
  }
}

.active {
  color: #edcd1e;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #edcd1e;
}
