main {
  width: 100vw;
  overflow: auto;
  background: white;
  color: white;
  position: relative;
  padding: 10px;
}

.services-header p {
  color: black;
  font-size: 55px;
  text-align: center;
}

.services-header p:after {
  content: "";
  display: block;
  position: relative;
  width: 10%;
  border: 5px solid #edcd1e;
  margin: auto;
  text-align: center;
}
