main {
  width: 100vw;
  overflow: auto;
  background: white;
  color: white;
  position: relative;
  padding: 10px;
}

.services-header p {
  color: black;
  font-size: 55px;
  text-align: center;
}

.services-header p:after {
  content: "";
  display: block;
  position: relative;
  width: 10%;
  border: 5px solid #edcd1e;
  margin: auto;
  text-align: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .services-header p {
    font-size: 30px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .services-header p {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .services-header p {
    font-size: 40px;
  }
}
