video#video {
  position: absolute;
  top: 60px;
  width: 100vw;
}

.hero {
  height: 100vh;
  padding: 230px 0;

  .row {
    padding: 10px;
    display: block;
  }

  p {
    position: absolute;
    top: 13rem;
    padding: 0 256px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

    color: white;
    font-size: 55px;
    text-align: center;

    .fa-chevron-down {
      position: absolute;
      font-size: 50px;
    }
  }
}

.hero {
  scroll-behavior: smooth;
}
