video {
  object-fit: cover;
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

// .hero {
//   height: 100vh;
//   padding: 230px 0;

//   .row {
//     padding: 10px;
//     display: block;
//   }

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 55px;
}
