<div class="box-container">
  <div class="navbar fixed-top">
      <div class="navbar-logo">
        <i class="fas fa-home"></i>
        <p>Строительные услуги<br>в Харькове и области</p>
      </div>
      <ul class="navbar-tabs">
         <li>
         <a class="navbar-tabs-item" href="#main">ГЛАВНАЯ</a>
         </li>
         <li>
         <a class="navbar-tabs-item" href="#services">УСЛУГИ</a>
         </li>
         <li>
         <a class="navbar-tabs-item" href="#about">О НАС</a>
         </li>
         <li>
           <a class="navbar-tabs-item" href="#">ПРОЕКТЫ</a>
          </li>
         <li>
         <a class="navbar-tabs-item" href="#contact">КОНТАКТЫ</a>
         </li>
      </ul>
      </div>
  
  <div class="container">
    <video playsinline autoplay muted loop id="video">
    <source src="./assets/images/video.mp4" type="video/mp4">
    </video>

  <section id="main">
   
    <header class="viewport-header">
      <p>
        СТРОИТЕЛЬНЫЕ УСЛУГИ
        <span>В ХАРЬКОВЕ И ОБЛАСТИ</span><br>
        <span><i class="fas fa-chevron-down"></i></span>
      </p>
    </header>
  </section>

  </div>



<main>

  <section id="services">  
  <div class="container mt-3">

     
    <div class="services-header">
      <p>УСЛУГИ</p>
    </div>

  <div class="cards">
    <div class="card-service my-3">
    <img src="./assets/images/foundation.jpeg" />
      <div class="card-service-infos">
        <div>
          <h2>Фундаменты любой сложности</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
    </div>
  
    <div class="card-service my-3">
      <img src="./assets/images/foundation.jpeg" />
        <div class="card-service-infos">
          <div>
            <h2>Геодезия участков</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
  
      <div class="card-service my-3">
        <img src="./assets/images/foundation.jpeg" />
          <div class="card-service-infos">
            <div>
              <h2>Кладка кирпича любой сложности</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
          </div>
        </div>

        <div class="card-service my-3">
          <img src="./assets/images/foundation.jpeg" />
            <div class="card-service-infos">
              <div>
                <h2>Кладка блоков любой сложности</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
          </div>

          <div class="card-service my-3">
            <img src="./assets/images/foundation.jpeg" />
              <div class="card-service-infos">
                <div>
                  <h2>Кладка бутов любой сложности</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
              </div>
            </div>

            <div class="card-service my-3">
              <img src="./assets/images/foundation.jpeg" />
                <div class="card-service-infos">
                  <div>
                    <h2>Кровельные работы</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  </div>
                </div>
              </div>

              <div class="card-service my-3">
                <img src="./assets/images/foundation.jpeg" />
                  <div class="card-service-infos">
                    <div>
                      <h2>Постройка дома с ноля</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                  </div>
                </div>

                <div class="card-service my-3">
                  <img src="./assets/images/foundation.jpeg" />
                    <div class="card-service-infos">
                      <div>
                        <h2>Постройка зернохранилищ</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                      </div>
                    </div>
                  </div>

                
                  <div class="card-service my-3">
                    <img src="./assets/images/foundation.jpeg" />
                      <div class="card-service-infos">
                        <div>
                          <h2>Услуги плиточника</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                      </div>
                    </div>

</div>

</div>
</section>





<div class="about-container mt-5">

  <section id="about">
  <div class="container d-flex">
    <div class="about-content mt-3 mr-3">
      <div class="about-header">
        <p>О НАС</p>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem </p>
    </div>
   <div class="about-image">
    <img src="./assets/images/team_1.png"  alt="Team">
  </div>
  </div>
</div>

<div class="counter-container pb-4">
  <div class="container d-flex justify-content-around align-items-center">
    <div>
    <div class="counter" data-target="36">0</div>
      <p>клиентов</p>
    </div>
    <div>
      <div class="counter" data-target="120" class="count">0</h3></div>
      <p>проектов выполнено</p>
    </div>
    <div>
      <div class="counter" data-target="12" class="count">0</h3></div>
      <p>специалистов</p>
    </div>
</div>
</div>

</section>

<section id="contact">

<div class="container mt-3">
  <div class="services-header">
    <p>КОНТАКТЫ</p>
  </div>

  <section class="container text-light mt-5 rounded text-center">
    <div class="row justify-content-center">
      <form action="https://getform.io/f/38a5fe17-c018-4d8d-8593-837bfe45a39c" method="POST" class="rounded w-50">
               <input type="text" class="form-control mb-2 " name="name" placeholder="Ваше имя" required>
               <input type="email" class="form-control mb-2" name="email" placeholder="Ваша электронная почта" required>
               <input type="phone" class="form-control mb-2" name="phone" placeholder="Ваш телефон" required>
               <textarea class="form-control mb-4" name="message" placeholder="Сообщение" rows="3" required></textarea>
               <input class="btn btn-dark btn-block" type="submit" value="Отправить">
           </form>
          </div>
 
    

</section>
    
  </div>

</section>

<div class="footer mt-5">
  <div class="footer-copyright">
    ©Сделано с <i class="fas fa-heart"></i> Сашей
  </div>
</div>

</div>

</main>


