<div class="container">
  <div class="navbar">
      <div class="navbar-logo d-flex">
        <i class="fas fa-home"></i>
        <p>Строительные услуги<br>в Харькове и области</p>
      </div>
      <ul class="navbar-tabs">
         <li class="navbar-tabs-item">ГЛАВНАЯ</li>
         <li class="navbar-tabs-item">УСЛУГИ</li>
         <li class="navbar-tabs-item">О НАС</li>
         <li class="navbar-tabs-item">ПРОЕКТЫ</li>
         <li class="navbar-tabs-item">КОНТАКТЫ</li>
      </ul>
  </div>
</div>
